@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 15s linear;
  }
}
@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.addSvg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.vector {
  display: none;
}
@media screen and (min-width: 900px) {
  .vector {
    display: block;
    max-width: 500px;
    height: 500px;
    width: 40%;
    align-self: flex-end;
  }
}
